results/**
resources/**
resources/*
!resources/scenarios/
!resources/scenarios/**
!resources/rna_seq/
!resources/rna_seq/**.xlsx
logs/**
config/samples.tsv
config/units.tsv
.snakemake
.snakemake/**
report.zip

results_old/**