meth_caller:
  # pacbio: [varlo]
  # nanopore: [varlo]
  platforms_combined: [varlo]



resources:
  ref:
    species: "homo_sapiens"
    datatype: "dna"
    build: "GRCh38"
    release: "112"
    chromosome: "21"
  ontology:
    # gene ontology to download, used e.g. in goatools
    gene_ontology: "http://current.geneontology.org/ontology/go-basic.obo"

#
scatter_items: 100

# platforms: [pacbio, nanopore]
platforms: [platforms_combined]

# platforms: []
# Path of the sample file
sample_path: "config/sample.tsv"

# Name of base experiment
ref_sample: "psc"

# Define threshhold for false positive cutoff
prob_pres_threshold: 0.95
prob_abs_threshold: 0.95
alpha: 0.01
# Define the minimum percantage  of methylation to be considered as a methylated site
meth_threshold: 5

# Not used right now
enrichment:
  goatools:
    # tool is only run if set to `true`
    activate: true
    fdr_genes: 0.05
    fdr_go_terms: 0.05
    pathvars:
      input_file: "results/{platform}/{caller}/dmr_calls/{group}/genes_transcripts/chipseeker_postprocessed_filtered"
      output_file: "results/{platform}/{caller}/enrichment/goatools/{group}/genes_transcripts/go_term_enrichment.gene_fdr_{gene_fdr}.go_term_fdr_{go_term_fdr}"
      # Must contain ns
      plot_file: "results/{{platform}}/{{caller}}/enrichment/goatools/{{group}}/plots/go_term_enrichment_{ns}.gene_fdr_{{gene_fdr}}.go_term_fdr_{{go_term_fdr}}"
      datavzrd_file: "results/{platform}/{caller}/enrichment/goatools/{group}/datavzrd/go_enrichment-{gene_fdr}.go_term_fdr_{go_term_fdr}"
      # Must contain all wildcards from the other files
      log_file_name: "{platform}_{caller}_{group}_{gene_fdr}_{go_term_fdr}"      
      wildcards:
        # platform: '["pacbio", "nanopore"]'
        platform: '["platforms_combined"]'
        caller: '["varlo"]'
        group: '["mesoderm", "endoderm", "ectoderm",]'
        gene_fdr: "str(config['enrichment']['goatools']['fdr_genes']).replace('.', '-')"
        go_term_fdr: "str(config['enrichment']['goatools']['fdr_go_terms']).replace('.', '-')"
        ns: '["BP", "CC", "MF"]'
  fgsea:
    gene_sets_file: "resources/gene_sets/dummy.gmt"
    # tool is only run if set to `true`
    activate: False
    # if activated, you need to provide a GMT file with gene sets of interest
    fdr_gene_set: 0.05
    eps: 1.0e-50
    pathvars:
      # sleuth_sample: "results/sleuth/{group}.samples.tsv"
      input_file: "results/dmr_calls/{group}/genes_transcripts/chipseeker_postprocessed"
      output_file: "results/enrichment/fgsea/{group}/tables/{group}"
      plot_file: "results/enrichment/fgsea/{group}/plots/{group}"
      log_file_name: "{group}"
      wildcards:
        # group: 'read_sample_tsv(config["sample_path"])'
        group: '["mesoderm", "endoderm", "ectoderm",]'

  effect_col:
    dynamic: false
    dynamic_expression: ""
    static_value: "mean_methylation_difference"

# Not used right now
meta_comparisons:
  # comparison is only run if set to `true`
  activate: false
  # Define here the comparisons under interest
  comparisons:
    # Define any name for comparison. You can add as many comparisions as you want
    model_X_vs_model_Y:
      items:
        # Define the two underlying models for the comparison. The models must be defined in the diffexp/models in the config
        # items must be of form <arbitrary label>: <existing diffexp model from config> 
        - X: model_X
        - Y: model_Y
      # Define label for datavzrd report
      label: model X vs. model Y